:root {
  --color-white: #ffffff;
  --color-smoke-white: #f5f5f5;
  --color-dark-white: #f5f4fa;
  --color-blue: #2196f3;
  --color-dark-blue: #188ce8;
  --color-light-grey: #afb1b8;
  --color-grey: #757575;
  --color-dark: #2f303a;
  --color-almost-black: #212121;
  --color-black-transparent: #ffffff1a;
  --color-black-allmost-transperent: var(--color-black-allmost-transperent);
  --color-black: #000000;
  --color-border-one: #ececec;
  --color-border-two: #eeeeee;
  --default-font-size: 14px;
  --default-letter-spacing: var(--default-letter-spacing);
  --default-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --default-animation-duration: 250ms;
}

.animation-container {
  overflow: hidden;
  position: relative;
}
.animation-container__element {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  color: var(--color-white);
  background-color: var(--color-blue);
  opacity: 0.9;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}

ul,
h1,
h2,
h3,
p {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: var(--default-font-size);
  letter-spacing: var(--default-letter-spacing);
  color: var(--color-almost-black);
  background-color: var(--color-white);
}

.section {
  padding: 94px 0;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.submit-button {
  width: 216px;
  height: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--color-white);
  background-color: var(--color-blue);
  -webkit-transition: background-color;
  transition: background-color;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
  cursor: pointer;
}
.submit-button__svg {
  margin-left: 10px;
  fill: currentColor;
}
.submit-button:hover {
  background-color: var(--color-dark-blue);
}
.submit-button:focus {
  background-color: var(--color-dark-blue);
}

.section-caption {
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  margin-bottom: 50px;
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 16px;
}
.social-media__item {
  width: 44px;
  height: 44px;
}
.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-light-grey);
  border-radius: 50%;
  -webkit-transition: color, background-color;
  transition: color, background-color;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.social-media__image {
  fill: currentColor;
}
.social-media-footer {
  padding: 0;
}
.social-media__link-footer {
  color: var(--color-white);
  background-color: var(--color-black-transparent);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
  cursor: default;
  color: var(--color-black);
}
.logo {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo__first-word {
  color: var(--color-blue);
}
.logo--white {
  height: 31px;
  color: var(--color-white);
  margin-bottom: 20px;
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  gap: 50px;
}
.navigation-list__link {
  display: block;
  padding: 32px 0;
  position: relative;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-almost-black);
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.navigation-list__link:hover {
  color: var(--color-blue);
}
.navigation-list__link:focus {
  color: var(--color-blue);
}
.navigation-list__link--selected {
  color: var(--color-blue);
}
.navigation-list__link--selected::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0;
  background-color: var(--color-blue);
  border-radius: 2px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  gap: 50px;
}
.header-contacts__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 16px;
  padding: 32px 0;
  font-weight: 500;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--color-grey);
  -webkit-transition: color;
  transition: color;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.header-contacts__element:hover, .header-contacts__element:focus {
  color: var(--color-blue);
}
.header-contacts__icon, .header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  line-height: 14px;
}

.order-section {
  padding: 200px 0;
  max-width: 1600px;
  margin: auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/order-section-background.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/order-section-background.jpg");
  background-color: var(--color-dark);
  background-size: cover;
  background-position: center;
}
.order-section__caption {
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  color: var(--color-white);
}

.modal-form {
  padding: 40px;
  width: 100%;
}
.modal-form__sign {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin: 0 auto;
  margin-bottom: 12px;
  color: var(--color-almost-black);
  text-align: center;
}
.modal-form__submit-button {
  width: 200px;
  margin: 0 auto;
  display: block;
}

.input-box {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.input-box__image {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--color-almost-black);
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.input-box__input:focus + .input-box__image {
  fill: var(--color-blue);
}
.input-box__input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: border;
  transition: border;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.input-box__description {
  margin-bottom: 4px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}
.input-box--bigger-margin {
  margin-bottom: 25px;
}
.input-box__input--textarea {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}
.input-box--policy {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.input-box__checkbox-image {
  fill: var(--color-white);
  border: 2px solid var(--color-almost-black);
  border-radius: 2px;
  margin-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: background-color, border-color, fill;
  transition: background-color, border-color, fill;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.input-box__checkbox {
  position: absolute;
  visibility: hidden;
  width: 0px;
  height: 0px;
  pointer-events: none;
}
.input-box__checkbox:checked + .input-box__checkbox-image {
  fill: var(--color-blue);
  background-color: var(--color-blue);
  border-color: var(--color-blue);
}
.input-box__policy-text {
  font-size: var(--default-font-size);
  line-height: 1.7142857143;
  color: var(--color-grey);
}
.input-box__policy-link {
  color: var(--color-blue);
  font-size: var(--default-font-size);
  line-height: 1.7142857143;
}
.input-box__input:focus {
  border-color: var(--color-blue);
}

.fiture-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 30px;
}

.fiture-element {
  width: 270px;
}
.fiture-element__svg-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: var(--color-dark-white);
  border-radius: 4px;
}
.fiture-element__caption {
  font-size: var(--default-font-size);
  line-height: 1.143;
  text-transform: uppercase;
}
.fiture-element__description {
  line-height: 1.714;
  margin: 0;
  margin-top: 10px;
  color: var(--color-grey);
}

.about-us-section {
  padding-top: 0;
}

.about-us-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.about-us-list__element {
  position: relative;
}
.about-us-list__image {
  display: block;
}
.about-us-list__caption {
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-team-section {
  background-color: var(--color-dark-white);
}

.our-team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.our-team-list__element {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-white);
}
.our-team-list__image {
  display: block;
}

.person-info {
  padding: 30px 32px;
}
.person-info__caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  margin-bottom: 10px;
  text-align: center;
}
.person-info__description {
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  color: var(--color-grey);
}

.our-clients-element {
  width: 170px;
  height: 92px;
}
.our-clients-element__link {
  width: 170px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--color-light-grey);
  border: 1px solid var(--color-light-grey);
  border-radius: 4px;
  -webkit-transition: color, border;
  transition: color, border;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.our-clients-element__link:hover, .our-clients-element__link:focus {
  color: var(--color-blue);
  border-color: var(--color-blue);
}
.our-clients-element__image {
  display: block;
  fill: currentColor;
}

.our-clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.adress-info__adress {
  width: 231px;
  height: 21px;
  font-style: normal;
  line-height: 1.5;
  color: var(--color-white);
}
.adress-info__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}
.adress-info__contact {
  display: block;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;
  color: var(--color-grey);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.adress-info__contact:hover, .adress-info__contact:focus {
  color: var(--color-blue);
}

.footer-social {
  margin-left: 70px;
}
.footer-social__caption {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-mailing {
  margin-left: auto;
}
.footer-mailing__caption {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
}
.footer-mailing__caption {
  margin-bottom: 20px;
}
.footer-mailing__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-mailing__email {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--color-white);
  border-radius: 4px;
  -webkit-transition: border;
  transition: border;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.footer-mailing__submit-button {
  margin-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-mailing__email:focus {
  border-color: var(--color-blue);
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filters-list__button {
  padding: 6px 25px;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03;
  color: var(--color-almost-black);
  background-color: var(--color-dark-white);
  -webkit-transition: color, background-color, -webkit-box-shadow;
  transition: color, background-color, -webkit-box-shadow;
  transition: color, background-color, box-shadow;
  transition: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
  cursor: pointer;
}
.filters-list__button:hover, .filters-list__button:focus {
  color: var(--color-white);
  background-color: var(--color-dark-blue);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.portfolio-element {
  width: 370px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.portfolio-element__link {
  display: block;
  color: var(--color-almost-black);
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow;
  transition: -webkit-box-shadow;
  transition: box-shadow;
  transition: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.portfolio-element__image {
  display: block;
}
.portfolio-element__link:hover, .portfolio-element__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-element__link:hover .animation-container__element, .portfolio-element__link:focus .animation-container__element {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.element-desription {
  padding: 20px 24px;
  border: 1px solid var(--color-border-two);
  border-top: none;
}
.element-desription__name {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.element-desription__type {
  font-size: 16px;
  line-height: 1.875;
  color: var(--color-grey);
}

.page-header {
  border-bottom: 1px solid var(--color-border-one);
}

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-window-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
  opacity: 1;
  z-index: 1;
  display: block;
}
.modal-window-container.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-window-container.display-none {
  display: none;
}
.modal-window-container.is-hidden .modal-window {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal-window {
  position: fixed;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.modal-window__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill;
  transition: fill;
  -webkit-transition-duration: var(--default-animation-duration);
          transition-duration: var(--default-animation-duration);
  -webkit-transition-timing-function: var(--default-animation);
          transition-timing-function: var(--default-animation);
}
.modal-window__close-button:hover, .modal-window__close-button:focus {
  fill: var(--color-blue);
}

.page-footer {
  padding: 60px 0;
  background-color: var(--color-dark);
}
.page-footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}/*# sourceMappingURL=main.css.map */