.adress-info {
  &__adress {
    width: 231px;
    height: 21px;

    font-style: normal;
    line-height: 1.5;

    color: var(--color-white);
  }

  &__element {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__contact {
    display: block;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;

    color: var(--color-grey);

    transition-property: color;
    transition-duration: var(--default-animation-duration);
    transition-timing-function: var(--default-animation);
  }

  &__contact:hover,
  &__contact:focus {
    color: var(--color-blue);
  }
}
