.fiture-element {
  width: 270px;

  &__svg-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: var(--color-dark-white);
    border-radius: 4px;
  }

  &__caption {
    font-size: var(--default-font-size);
    line-height: 1.143;
    text-transform: uppercase;
  }

  &__description {
    line-height: 1.714;
    margin: 0;
    margin-top: 10px;
    color: var(--color-grey);
  }
}
