:root {
  --color-white: #ffffff;
  --color-smoke-white: #f5f5f5;
  --color-dark-white: #f5f4fa;
  --color-blue: #2196f3;
  --color-dark-blue: #188ce8;
  --color-light-grey: #afb1b8;
  --color-grey: #757575;
  --color-dark: #2f303a;
  --color-almost-black: #212121;
  --color-black-transparent: #ffffff1a;
  --color-black-allmost-transperent: var(--color-black-allmost-transperent);
  --color-black: #000000;
  --color-border-one: #ececec;
  --color-border-two: #eeeeee;

  --default-font-size: 14px;
  --default-letter-spacing: var(--default-letter-spacing);

  --default-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --default-animation-duration: 250ms;
}
